trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - main

variables:
  CARGO_TERM_COLOR: always

stages:
  - stage: build_and_test
    displayName: Build and Test
    jobs:
      - job: linux
        displayName: ubuntu fmt/clippy/test
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - checkout: self
            fetchDepth: 0

          - task: Cache@2
            inputs:
              key: 'cargo | $(Agent.OS) | $(Build.SourcesDirectory)/Cargo.lock'
              restoreKeys: |
                cargo | $(Agent.OS)
              path: |
                ~/.cargo/registry
                ~/.cargo/git
                target

          - script: |
              rustup update stable
              rustup component add rustfmt clippy
              cargo fmt --all --check
              cargo clippy --all-targets --all-features -- -D warnings
              cargo test --all --locked --no-fail-fast
            displayName: fmt, clippy, test
