version: 2.1

executors:
  rust:
    docker:
      - image: cimg/rust:1.82
    working_directory: ~/project

commands:
  cargo-cache-keys:
    parameters:
      path:
        type: string
    steps:
      - save_cache:
          key: cargo-cache-<< parameters.path >>-{{ checksum "Cargo.lock" }}
          paths:
            - ~/.cargo/registry
            - ~/.cargo/git

jobs:
  build-test:
    executor: rust
    steps:
      - checkout
      - restore_cache:
          keys:
            - cargo-cache-{{ checksum "Cargo.lock" }}
            - cargo-cache-
      - run:
          name: Fetch dependencies
          command: cargo fetch
      - run:
          name: Format check
          command: cargo fmt -- --check
      - run:
          name: Clippy
          command: cargo clippy --all-targets --all-features -- -D warnings
      - run:
          name: Tests
          command: cargo test --all --all-features
      - save_cache:
          key: cargo-cache-{{ checksum "Cargo.lock" }}
          paths:
            - ~/.cargo/registry
            - ~/.cargo/git

workflows:
  version: 2
  ci:
    jobs:
      - build-test
